.todo-wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
